@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
  /* TEX - blanco brillante */
  --color-tex: #ffffff;

  /* E - verde esmeralda */
  --color-verde-apagado: #2da55f;
}

/* Logo */
nav .logo {
  width: 100px;
}

/* Estilos para el menú móvil */
.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.logo-letra-tex {
  color: var(--color-tex);
  font-family: 'Montserrat';
}

.logo-letra-iniciales {
  color: var(--color-verde-apagado);
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
}

.gradient-text {
  background: linear-gradient(90deg, #ff4081, #3d5afe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.mobile-menu.open {
  transform: translateX(0);
}

.service-card:hover {
  transform: translateY(500px);
  box-shadow: 0 10px 25px -5px rgba(255, 64, 129, 0.3);
}

.gallery-item {
  overflow: hidden;
}

.btn-primary {
  background: linear-gradient(90deg, #ff4081, #3d5afe);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 64, 129, 0.4);
}

.btn-outline {
  border: 2px solid #ff4081;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: rgba(255, 64, 129, 0.1);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: linear-gradient(90deg, #00e08c, #ffffff); 
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-400 {
  animation-delay: 0.4s;
}

textarea {
  resize: none;
}